<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Write new chat</h2>

    <form method="POST" action="/chats">
        <input type="text" placeholder="Who Are You....?" name="from">
        <textarea name="msg" id="">Write your message here...</textarea>
        <input type="text" placeholder="Add receiver" name="to">
        <button> Create Chat</button>
    </form>
</body>
</html>